<included>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
    <!-- appender是configuration的子节点，是负责写日志的组件。 -->
    <!-- ConsoleAppender：把日志输出到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
            <!--
            <charset>UTF-8</charset>
            -->
        </encoder>
    </appender>

    <!-- FileAppender：把日志写入文件（不做滚动） -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/data-agent-management.log</file>
        <append>true</append>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志级别 -->
    <logger name="com.alibaba.cloud.ai.dataagent.service" level="info" />
    <logger name="com.alibaba.cloud.ai.dataagent.workflow.node" level="info" />
    <logger name="com.alibaba.cloud.ai.mapper" level="info" />
    <logger name="org.springframework.jdbc" level="info" />

    <!-- 控制台输出日志级别 -->
    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</included>
